<h1> Welcome to Game Cabin!</h1>
<img src="/img/homepage_pic.jpg" alt="Homepage picture" title="Welcome, dear idler. Glad to see you.">
<h3>Watch our videos on Youtube:</h3>
<div class="videos">
        <a href="https://youtu.be/pcA9vgDc4pI" onclick="return !window.open(this.href)"><img class="video_preview"
                        src="/img/video_preview_1.jpg" alt="Video from Youtube" title="Funny moments in GTA IV"></a>
        <a href="https://youtu.be/SLz7Kpr0rqE" onclick="return !window.open(this.href)"><img class="video_preview"
                        src="/img/video_preview_2.jpg" alt="Video from Youtube" title="Funny moments in Fallout 4"></a>
</div>