<h1>List of registered users:</h1>
<table id="list_of_users">
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Password</th>
    </tr>
    {{#each users}}
        <tr>
            <td>{{name}}</td>
            <td>{{surname}}</td>
            <td>{{email}}</td>
            <td>{{password}}</td>
        </tr>
    {{/each}}
</table>