<div class="loginform">
    <h3>Log in:</h3>
    <form role="form" action="/login" method="POST">
        <input type="email" name="email"><label for="email">Enter your email</label><br>
        <input type="password" name="password"><label for="password">Enter your password</label><br>
        <button type="reset">Reset</button>
        <button type="submit">Submit</button>
    </form>
</div>