<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Game Cabin</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <div class="container">
        <header><img id="headliner" src="/img/headliner.png" alt="Headliner"></header>
        <a href="/"><button type="button">Home</button></a>
        <a href="/users"><button type="button">List of users</button></a>
        <a href="/about"><button type="button">About</button></a>
        {{#if user}}
        <span id="username_message">You entered as {{user}}</span>    
        {{/if}}
        <div class="logreg">
        {{#if user}}
            <a href="/logout"><button type="button">Logout</button></a>
        {{else}}
            <a href="/login"><button type="button">Login</button></a>        
            <a href="/register"><button type="button">Registration</button></a>
        {{/if}}
        </div>
        {{{body}}}
        <div>
            <hr>
            <footer>
                <p>&copy; Andrey Tsepkov 2019</p>
            </footer>
        </div>
    </div>
</body>

</html>