<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <title>Game Cabin</title>
    <style>
        #logo{
            width: 64px;
        }
    </style>
</head>
<body>
    <header><img id="logo" src="/img/logo.svg" alt="Logo"></header>
    <a href="/">Home</a>
    <a href="/about">About</a>
    {{{body}}}
</body>
</html>