body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    max-width: 960px;
    margin: auto;
}

.container header {
    margin-bottom: 2em;
}

.container button {
    font-size: 1em;
}

.container button:hover {
    cursor: pointer;
}

#headliner {
    width: 960px;
    margin-bottom: 1em;
}

#username_message {
    color: navy;
    font-size: 1.2em;
    margin-left: 1em;
}

.logreg {
    float: right;
}

.videos {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.video_preview {
    width: 467px;
    margin: 5px;
}

.regform,
.loginform {
    margin: 3em;
}

.regform form label,
.loginform form label {
    margin-left: 1em;
}

button[type='reset'], button[type='submit'] {
    margin-top: 0.5em;
}

#list_of_users {    
    border-collapse: separate;
    border-spacing: 5px;
}

#list_of_users th,
td {
    padding: 5px;
}

#list_of_users th {
    background-color: #677596;
    color: white;
    font-weight: 400;
}

#list_of_users td {
    background-color: #faf2e4;
}